* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --vdarkblue: hsl(234, 12%, 34%);
    --grayblue: hsl(229, 6%, 66%);
    --vlightgray: hsl(0, 0%, 98%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 600px;
}

.header p {
    text-align: center;
}

#header-line-1 {
    font-size: 1.5333rem;
    font-weight: 200;
}

#header-line-2 {
    font-size: 1.55rem;
    font-weight: 600;
}

.header {
    margin: 5rem 0 1rem 0;
}

.description-text span {
    display: block;
    text-align: center;
    padding-right: 2px;
}

.description-text {
    margin-bottom: 5rem;
    font-weight: 400;
    font-size: 0.95rem;
    color: var(--grayblue);
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 90%;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    border: 3px solid var(--vlightgray);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 2px 3px 6px 5px var(--grayblue)
}

.middle-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-boxes {
    width: 100%;
}

/* try to understand this ^^^^above */

.box span {
    display: block;
}

.box h3 {
    padding-top: 1rem;
}

.box p {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--grayblue);
}

.box h3,
.box p {
    padding-left: 1.8rem;
}

.box img {
    float: right;
    padding-right: 1.5rem;
    padding-top: 1.4rem;
}

.supervisor {
    border-top: 5px solid var(--cyan);
}

.team-builder {
    border-top: 5px solid var(--red);
}

.karma {
    border-top: 5px solid var(--orange);
}

.calculator {
    border-top: 5px solid var(--blue);
    margin-bottom: 3rem;
}


footer p {
    font-size: 0.7rem;
}

@media screen and (min-width:900px) {

    .header {
        margin-top: 1.5rem;
    }

    #header-line-1 {
        font-size: 2rem;
    }

    #header-line-2 {
        font-size: 2rem;
    }

    .description-text span {
        display: inline;
    }

    .description-text {
        width: 33rem;
        text-align: center;
    }

    .description-text-container {
        display: flex;
        justify-content: center;
    }

    /* 
    .description-text-container{
        text-align:center;
    }
    why doesnt this work
     */

    .container {
        width: 90%;
        max-width: 1440px;
    }

    .boxes {
        flex-direction: row;
    }

    .karma span {
        display: inline;
    }

    .calculator span {
        display: inline;
    }
}
